@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root-level custom properties */
:root {
  --font-display: "Urbanist", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #FF9324;
}

@layer base {
  html {
    font-family: 'Urbanist', sans-serif;
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Custom Animations */
@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }

  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
  
  @keyframes text-shine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-text-shine {
    background-size: 200% 200%; /* This ensures enough room for animation */
    background-position: 0% 50%;
    animation: text-shine 3s ease-in-out infinite alternate;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @keyframes blob1 {
    0%, 100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -60px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
  }

  @keyframes blob2 {
    0%, 100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(-40px, 60px) scale(1.05);
    }
    66% {
      transform: translate(20px, -40px) scale(0.95);
    }
  }

  @keyframes blob3 {
    0%, 100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(20px, 140px) scale(1.15);
    }
    66% {
      transform: translate(-30px, -30px) scale(0.85);
    }
  }

  .animate-blob1 {
    animation: blob1 8s ease-in-out infinite;
  }

  .animate-blob2 {
    animation: blob2 10s ease-in-out infinite;
  }

  .animate-blob3 {
    animation: blob3 12s ease-in-out infinite;
  }
}

/* Custom Components */
.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded py-3 px-4 mt-3 mb-4 border border-gray-300;
}

.btn-primary {
  @apply w-full flex items-center justify-center gap-3
         text-sm font-medium text-white
         bg-black hover:bg-white hover:text-black
         px-4 py-2 rounded-md
         shadow-md transition-colors duration-200;
}

.btn-small-3 {
  @apply flex items-center justify-center gap-3 bg-gradient-to-r from-orange-500 to-orange-400 text-sm font-semibold text-white;
}
